.flex-container {
    justify-content: center;
    display: flex;
}

.quote-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.flex-container p-button:not(:last-child) {
    padding-right: 10px;
}

header {
    min-height: 50px;
    position: relative;
}

header>p-button {

    &.btn-login,
    &.btn-logout {
        position: absolute;
        right: 20px;
        top: 10px;
    }

}